@import "tailwindcss";

/* GENETAL */
@theme {
  --breakpoint-tablet: 56.3125rem; /* = 901px */
  --breakpoint-xs: 32.5rem; /* = 520px */
  --breakpoint-xxs: 23.125rem; /* = 370px */
}

@layer base {
  :root {
    --bg-dark: #101010;
    --bg-light: #f1f1f1;
    --text-light: #ffffff;
    --text-dark: #000000;
    --color-primary: #d87d4a;
    --color-placeholder: #cfcfcf;
    --color-wrong: #cd2c2c;
    --primary-hover: #fbaf85;
    --bg-hover-grey: #4c4c4c;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

  body {
    font-family: "Manrope", sans-serif;
    font-size: 1.5rem;
  }

  .centered-container {
    @apply max-[900px]:w-[90%] tablet:w-[80%] max-w-[1536px] mx-auto;
  }

  /* TYPOGRAPHY */
  .heading-primary {
    @apply text-[3.6rem] sm:text-[5.6rem] font-bold tracking-[2px] uppercase leading-[1.1] sm:leading-[1.2];
  }

  .heading-secondary {
    @apply text-[2.8rem] sm:text-[4rem] font-bold uppercase leading-[1.2] tracking-[1.43px];
  }

  .heading-tertiary {
    @apply text-[2.8rem] max-[370px]:text-[2.4rem] font-bold uppercase tracking-[2px];
  }

  .product-heading-secondary {
    @apply uppercase text-[2.4rem] min-[730px]:text-[3.2rem] font-bold mb-[2.4rem] sm:mb-[3.2rem] tracking-[1.14px];
  }

  /* BUTTON */
  .btn {
    @apply uppercase text-[1.3rem] font-bold tracking-[1px] cursor-pointer py-[1.5rem] px-[3rem] 
    max-[370px]:py-4 max-[370px]:px-8 transition-all duration-200 ease-in-out;
  }

  .btn-primary {
    background-color: var(--color-primary);
    color: var(--text-light);
  }

  .btn-primary:hover,
  .btn-primary:active {
    background-color: var(--primary-hover);
  }

  .btn-secondary {
    border: 1px solid var(--text-dark);
  }

  .btn-secondary:hover,
  .btn-secondary:active {
    background-color: var(--text-dark);
    color: var(--text-light);
  }

  .btn-tertiary {
    background-color: var(--text-dark);
  }

  .btn-tertiary:hover,
  .btn-tertiary:active {
    background-color: var(--bg-hover-grey);
  }

  .btn-qty {
    @apply w-[3.2rem] h-[4.8rem] flex items-center justify-center font-extrabold text-[1.5rem] opacity-25 
    cursor-pointer hover:text-[var(--color-primary)] transition;
  }

  /* MOBILE MENU */
  .menu {
    @apply fixed top-40 left-0 w-full z-500 bg-white text-black;
  }

  .overlay {
    @apply fixed inset-0 top-40 bg-black/50 z-400;
    transition: all 0.4s ease;
  }

  .menu.open {
    animation: menu-open 0.4s ease forwards;
    transform-origin: top;
  }

  @keyframes menu-open {
    0% {
      opacity: 0;
      transform: translateY(-10px) scaleY(0.95);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scaleY(1);
    }
  }

  .menu.closing {
    animation: menu-close 0.4s ease forwards;
  }

  @keyframes menu-close {
    0% {
      opacity: 1;
      transform: translateY(0) scaleY(1);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px) scaleY(0.95);
    }
  }

  /* MODAL */
  .modal {
    @apply rounded-xl shadow-xl;
  }

  .modal:not([open]) {
    display: none;
  }

  .modal.closing {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease;
  }

  .cart-modal {
    @apply top-50 left-1/2 transform max-[640px]:-translate-x-1/2 sm:left-[calc(95%-37.7rem)] tablet:left-[calc(90%-37.7rem)] w-[37.7rem] p-[2.8rem] rounded-xl shadow-xl;
    animation: fade-slide-in-from-top 0.3s ease-in-out;
  }

  .success-modal {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[64rem] max-w-[85%] sm:max-h-[80vh] p-12 sm:p-20 
    bg-white flex flex-col gap-6 sm:gap-10;
    animation: fade-slide-in-from-top 0.3s ease-in-out;
  }

  @keyframes fade-slide-in-from-top {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* FORM */
  form .description {
    @apply text-[var(--color-primary)] uppercase text-[1.3rem] font-bold tracking-[0.93px] mb-8;
  }

  form .label {
    @apply block text-[1.2rem] font-bold mb-3 -tracking-[0.21px];
  }

  form .input {
    @apply w-full py-6 px-8 text-[1.4rem] font-bold border border-[var(--color-placeholder)] rounded-xl cursor-pointer 
     transition-colors duration-200 ease-in-out focus:border-[var(--color-primary)] focus:outline-none focus:caret-[var(--color-primary)];
  }

  form .input::placeholder {
    font-size: 1.4rem;
    font-weight: 700;
    opacity: 0.4;
  }

  form .input-wrong {
    @apply border border-[var(--color-wrong)] shadow-[0_0_0_1px_var(--color-wrong)];
  }

  form .label-wrong {
    @apply text-[var(--color-wrong)];
  }

  form .error-text {
    @apply text-[var(--color-wrong)] text-[1.2rem] font-bold mt-1;
  }

  .control-group {
    @apply mb-14 sm:mb-22;
  }

  .control-row {
    @apply sm:flex gap-8;
  }

  .control {
    @apply w-full mb-8 sm:mb-12;
  }

  .control-half {
    @apply sm:w-[calc(50%-1rem)];
  }

  .radio-label {
    @apply text-[1.4rem] py-6 px-8 font-bold border border-[var(--color-placeholder)] cursor-pointer flex items-center gap-8 
    rounded-xl hover:border-[var(--color-primary)] transition-colors duration-200 ease-in-out;
  }

  .radio-label:has(input[type="radio"]:checked) {
    @apply border-[var(--color-primary)];
  }

  input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--color-placeholder);
    border-radius: 50%;
    display: grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 200ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--color-primary);
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  .summary {
    @apply flex justify-between;
  }

  .summary-text {
    @apply uppercase text-[1.5rem] opacity-50 font-medium;
  }

  .summary-price {
    @apply text-[1.8rem] font-bold;
  }

  /* NAVBAR */
  .nav-container {
    @apply max-[640px]:w-full h-40 px-[10%] sm:px-0 flex max-[640px]:justify-between 
    min-[901px]:justify-between items-center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  /* HERO SECTION */
  .hero-section {
    @apply pt-40 w-full lg:w-[80%] h-[100vh] mx-auto text-[var(--text-light)] flex items-center 
    justify-center lg:justify-start;
  }

  /* MEDIA QUERIES */
  @media only screen and (min-width: 640px) and (max-width: 900px) {
    .width-tablet {
      width: 90%;
    }

    .tablet-padding {
      padding: 0 8rem;
    }

    .tablet-mr-16 {
      margin-right: 4rem;
    }

    .tablet-ml-auto {
      margin-left: auto;
    }
  }

  @media (width: 900px) {
    .centered-container {
      @apply w-[90%];
    }
  }

  @media only screen and (max-width: 640px) {
    .width-mobile {
      width: 100%;
    }
  }
}
